<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  </head>
  <body>
    <nav class="nav bar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'home' %}">go to home</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index' %}">go to admin</a></li>
          <li><a class="navbar-link" href="{% url 'zico:register' %}">go to register</a></li>
          {%  if user.is_authenticated   %}
          <li><a class="navbar-link"href="{% url 'userlogout' %}">logout</a> </li>
          {% else %}
          <li> <a  class="navbar-link "href="{% url 'zico:userlogin'  %}">login</a> </li>
          {%  endif %}
        </ul>
      </div>
    </nav>
<div class="container">
  {% block body_block  %}
  <h1>Welcome to base</h1>
  {% endblock %}
  <title>base</title>
</div>
  </body>
</html>
